apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vm-manager

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml
  - networkpolicy.yaml
  - piko.yaml
  - mysql.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: vm-manager
